@font-face {
  font-family: 'OpenDyslexic';
  src: url('fonts/OpenDyslexic-Regular.eot');
  src: url('fonts/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenDyslexic-Regular.woff2') format('woff2'),
    url('fonts/OpenDyslexic-Regular.woff') format('woff'),
    url('fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('fonts/OpenDyslexic-Bold.eot');
  src: url('fonts/OpenDyslexic-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenDyslexic-Bold.woff2') format('woff2'),
    url('fonts/OpenDyslexic-Bold.woff') format('woff'),
    url('fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/OpenDyslexic-Italic.eot');
  src: url('../fonts/OpenDyslexic-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenDyslexic-Italic.woff2') format('woff2'),
    url('../fonts/OpenDyslexic-Italic.woff') format('woff'),
    url('../fonts/OpenDyslexic-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/OpenDyslexic-Bold-Italic.eot');
  src: url('../fonts/OpenDyslexic-Bold-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
    url('../fonts/OpenDyslexic-Bold-Italic.woff') format('woff'),
    url('../fonts/OpenDyslexic-Bold-Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

body {
  color: #333;
  font-size: 2em;
    line-height: 2em;
    word-spacing: 0.3em;
    font-family: 'OpenDyslexic', sans-serif;
  max-width: 1200px;
    margin: 0 auto;
}

#result {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 15px;
}

.form {
  /* take all the width */
  width: 100%;
  /* center the form */
  margin: 0 auto;
}

textarea {
  width: 100%;
    display: block;
  }

.submit {
  margin: 15px auto;
  display: block;
}

span.tool-word {
  border: 1px dotted orange;
  padding: 2px 5px;
}

span.orange {
  font-weight: 600;
  color: orange;
}

span.green {
  font-weight: 600;
  color: green;
}

span.red {
  font-weight: 600;
  color: red;
}

span.blue {
  font-weight: 600;
  color: blue;
}

span.purple {
  font-weight: 600;
  color: purple;
}

span.brown {
  font-weight: 600;
  color: brown;
}

span.pink {
  font-weight: 600;
  color: pink;
}

span.black {
  font-weight: 600;
  color: black;
  text-decoration: underline black;
}
