/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-family: 'Verdana', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

#result {
  margin-top: 5px;
  border: 1px solid #ddd;
  padding: 15px;
}

.print-btn {
  float: right;
}

.form {
  /* take all the width */
  width: 100%;
  /* center the form */
  margin: 0 auto;
}

textarea {
  width: 100%;
  display: block;
  background-color: #F8F8F8;
}

.submit {
  margin: 15px auto;
  display: block;
  /* bigger, some padding, blue as action button*/
  font-size: 1em;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}


span.tool-word {
  border: 1px orange solid;
  padding: 2px 1px;
}

span.orange {
  font-weight: 600;
  color: #FFA500;
}

span.green {
  font-weight: 600;
  color: #00FF00;
}

span.red {
  font-weight: 600;
  color: #FF0000;
}

span.blue {
  font-weight: 600;
  color: #009eec;
}

span.purple {
  font-weight: 600;
  color: #9400D3;
}

span.green span.purple {
  font-weight: 600;
  color: #00FF00;
}

span.brown {
  font-weight: 600;
  color: #723a05;
}


span.pink {
  font-weight: 600;
  color: #ffa8d4;
}


span.black {
  font-weight: 600;
  color: black;
  text-decoration: underline black;
}

/*
@media print {
  span.orange {
    color: #FFA500;
  }

  span.green {
    color: #00FF00;
  }

  span.red {
    color: #FF0000;
  }

  span.blue {
    color: #009eec;
  }

  span.purple {
    color: #9400D3;
  }

  span.brown {
    color: #b55d09;
  }

  span.pink {
    color: #ffa8d4;
  }

  span.black {
    color: #000000;
  }
}
*/